/* START CSS BASELINE */


/* taken from https://www.joshwcomeau.com/css/custom-css-reset/ */
/* these are some initial rules to standardize element display and behaviour */
/* you can read more about why following the above link, or searching for */
/* "css normalize" or "css reset" in your favorite search engine ;) */

#processbar { 
  background-color: aquamarine;
  box-sizing: border-box;
  size: 10cm;
  tab-size: 100cm;
  color:#1a1919;
  text-align:center;
  vertical-align:text-top;
  font-size:26px;
  font-family:SundayMono;
  line-height:auto;
  border-style:hidden;
  outline:none;
  width:100px;
}


#timeline {
  background-color: antiquewhite;
  text-align: center;
  height: 200px;
  padding-top: 35px;
}

