#bar1 {
  color: #000000;
  vertical-align: text-top;
  font-size: 22px;
  padding-top: 0%;
  position: fixed;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  left: 2; /* Set to the left side of the page */
  z-index: 1; /* Set a higher z-index value */
}

#bar2 {
  color: #000000;
  vertical-align: text-top;
  font-size: 22px;
  padding-right: 1%;
  position: fixed;
  right: 0; /* Set to the right side of the page */
  z-index: 1; /* Set a higher z-index value */
}